{{define "tpl/bedList.tmpl"}}
    {{range .}}
        <div class="col-md-2" style="background-color: deepskyblue; height: 120px; border: 4px solid #f5e79e">
{{/*            <p>{{.ID}}</p>*/}}
{{/*            <p>{{.Name}}</p>*/}}
{{/*            <p>{{.Tel}}</p>*/}}
{{/*            <p>{{.Disease}}</p>*/}}
        </div>
    {{end}}
{{end}}